/* Start .mese-header */
a {color:#ffffff;}
a:hover,
a:active,
a:focus {color:rgba(255,255,0,0.8);}
html,body{
    min-height: 100%;
    width: 100%;
		color:#fff;
}
body {background-color: #222;}
body,html,h1,h2,h3,h4,h5 {font-family:"Microsoft Yahei";}
body {font-size:16px}
.mese-header {
  right:0;
  left:0;
  overflow:visible;
  
}
h1,h2,h3,h4,h5{display:block;margin-bottom:25px;}
.mese-header .nav {
  position:relative;
  left:0;
  display:block;
  float:right;
  margin:0;
}
.mese-header .nav > li {
  float:left;
}
.panel {box-shadow:none;border-radius:0px;}
.panel-heading {border-bottom:0;}
.panel-mese2014,
.panel-mese2014 > .list-group,
.panel-mese2014 > .list-group > .list-group-item,
.panel-mese2014 > .list-group > .list-group-item > a {background-color:rgb(255,124,128);
color:#fff;}
.panel-mese2014 > .list-group > .list-group-item{border-style:dashed;}
.panel-mese2014 {border:none;   
    -webkit-box-shadow:3px 3px 9px -2px rgba(0,0,0,1);
            box-shadow:3px 3px 9px -2px rgba(0,0,0,1);}
.panel-mese2014 > .panel-heading {
	border-radius:0px;
	background-color: transparent;
	border-bottom: 1px white solid;
	color:#FFF;
    z-index:10;
}
.panel-mese2014 {box-shadow:4px 4px 0px 0px rgb(0,0,0,0);}
.panel-mese2014 > .panel-heading > a {color:white;}
.list-group-item {line-height:0.9;font-size:14px;}
table {-webkit-box-shadow:3px 3px 9px -2px rgba(0,0,0,1);
    box-shadow:2px 2px 7px -1px rgba(0,0,0,1);}
.row > table,
table {color:#Ffffff;margin-top: -21px;}
.row > table > * {line-height: 0.9!important;font-size: 14px;}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, .table tfoot > tr > td {
    background-color:rgb(255,124,128);
padding:6px;}
.table > thead+tbody {border-bottom-width:1px;}
.mese-header .navbar-header .navbar-brand,
.mese-header .nav > li > a {
  color:#E9E9E9;
}

.mese-header .nav > li > a {
  float:none;
  padding: 20px 15px;
  text-decoration:none;
  letter-spacing:.05em;
  font-weight:500;
  font-size:14px;
  line-height:20px;
}
@media (max-width: 767px) {
  
  .mese-header .nav {

    float:none!important;
    width:100%!important;
  }
  .mese-header .nav > li {
    float:none!important;
  }
  .mese-header .nav > li > a {
    padding:10px 5px!important;
  }
  #mese-navbar-collapse {border-bottom:1px solid #ccc;}
main .container {margin-top:15px;}
}
@media (min-width: 768px) {
  .mese-header .container {
    width: 750px;
  }
  .mese-header .nav > li > a:focus,
  .mese-header .nav > li > a:hover {
  	 background-color:inherit;
  	 color:#FFF;
   }
}
@media (min-width: 992px) {
  .mese-header .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .mese-header .container {
    width: 1170px;
  }
}
/* End .mese-header */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 14px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.navbar-toggle:hover,
.navbar-toggle:active {
  background-color:#cccccc;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #e7e7e7;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-inner {
  padding-right:0;
  padding-left:0;
  -webkit-border-radius:0;  -moz-border-radius:0;
  border-radius:0;
  background-repeat:repeat-x;
}
.navbar-inner:before,
.navbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.navbar-brand {
  float:left;
  padding:15px 10px;
  font-size:18px;
  line-height:30px;
  height:60px;
  text-align:center;
}
@media (max-width: 767px){
  .navbar-brand:hover,
  .navbar-brand:active: {
    background-color:#111;
    color:#111;
  }
  .mese-header .nav > li > a:focus,
  .mese-header .nav > li > a:hover {
  	 background-color:inherit;;
  	 color:#FFF;
   }
}
/* login */
.login {
	margin-top:50px;
}
.login input {
	font-size:16px;
	border-radius:0px;
}
.login label {
	font-weight:500;
	margin-bottom:12px;
}
.login .popover {
  border-radius:0px;
  margin-left:15px;
}
.btn-login {
	margin-top: 22px;
	width: 100%;
	background-color:#674E8D;
	border-radius:0px;
	color: #FFF;
	font-weight: 700;
	font-size:16px;
}
.btn-login:active,
.btn-login:hover,
.btn-login:focus {
	color: #FFF;
}
.form-login {
	font-size: 1.1em;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  color:black;
}
.form-login:focus,
.form-login:active {
  border-color:#896F9F;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 153, 204, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 153, 204, 0.6);
}
@media (max-width: 767px) {
	.login {
	   margin-top:50px;
	 }
	.login .container {
		max-width:500px;
	}
}
@media (min-width: 768px) {
	.login .container {
		width:500px;
	}
}
.alert-login {
	border-radius:0px;
	margin-bottom:0;
	text-align:center;
	font-size:16px;
	line-height:1;
	padding:10px;
}
.alert-login.visible {
	display:block;
}
.utinfo {
	height:150px;
}
.sidenav {
	display:block;
}
@media (min-width:992px) {
.sidenav > li:last-child {
	border-bottom:1px solid #ccc;
}
.sidenav > li {
	border-top:1px solid #CCC;
}
.sidenav > li > a {
	background-color:#FFF;
	color:#25064D;
	font-size:18px;
	line-height:1.6;
	text-align:center;
	-webkit-transition:color ease 0.3s , background-color ease 0.3s;
	transition:color ease 0.3s , background-color ease 0.3s;
}
.sidenav > li > a:hover,
.sidenav > li > a:active,
.sidenav > li.active > a {
	color:#FFF;
	background-color:#25064D;
}
.no-pad {padding:0;}
}
.breadcrumb-mese2014 {margin-top:20px;margin-bottom: 0px;border-bottom: 1px solid #ddd;
background-color: rgba(255,124,128,1);border-bottom: 0px;border-radius:0px}
.breadcrumb-mese2014 a{color:#E8e8e8;}
.breadcrumb-mese2014 > .active  {color:#222;}
.nav-mese2014 {border-bottom: 0;background-color: rgba(255,124,128,0.8);border-bottom:1px solid transparent;margin-bottom: 0px;}
.nav-mese2014 >li > a {color:#FFF;border-radius:0px;border:0px;}
.nav-mese2014 >li > a:hover,
.nav-mese2014 >li > a:active,
.nav-mese2014 >li > a:focus {color:#BBB; background-color:inherit; border:0px;}
.feeds {
	border-bottom:1px dashed #b7b7b7;
	padding:10px;
}
.feeds:last-child {border-bottom:none;}
.feeds-title ,
.feeds-title > a {color: #d1a900;}
.feeds-info {font-size:0.83em;color:#999;margin-top:5px;margin-bottom:3px;}
.feeds-details {color:#E5E5E5;}
.feeds-details > a{color:#A9A9A9;}
#feeds-container {background-color: #111111;}
div.feeds-details-text {
padding:10px;
}
.feeds-details-text p{
color:#E7E7E7;
text-indent: 2.2em;
word-wrap: break-word;
word-break: normal;
font-size:1.2em;
padding:0px 10px; 
}
.feeds-details-text img {
	max-width:80%;
}
.f-back {padding-left:5px;color:#CCC;}
.f-back:hover,
.f-back:active,
.f-back:focus {color:#CCC;}
.btn-mese2014 {background-color:transparent;
color:#CCC;font-size: 1em;border-radius:0px;margin-top:10px;}
.btn-mese2014-success {color:yellow;border-color: yellow;}
.btn-mese2014:hover,
.btn-mese2014:active,
.btn-mese2014:focus {color:#FFF;background-color: transparent;}
.form-control {border-radius:0px;}
.btn-mese2014-success:hover,
.btn-mese2014-success:active,
.btn-mese2014-success:focus {color:#DDCC00}

.utinfo {
	border-left-color: transparent;
	border-right-color:transparent;
	border-bottom-color: #EEE;
	border-top-color:transparent;
	border-bottom-style: dashed;	  
	background-color:transparent;
	color:#CCC;
	word-wrap: break-word;
	height: auto;
}
.nav-utinfo > li > a {
	border-radius:0px;
	color:#AAA;
	
}
ul.nav-info > li, ul.nav-info > li > a {
	padding:0 0 15px 15px!important;
}
.nav-utinfo > li > a:hover,
.nav-utinfo > li > a:active,
.nav-utinfo > li > a:focus {
		color:#FFF;
	background-color: transparent!important;}
.nav-utinfo > li.active > a,
.nav-utinfo > li.active > a:hover,
.nav-utinfo > li.acitve > a:focus,
.nav-utinfo > li.active > a:active,
.nav-utinfo > li.active > a:checked {
		color:#FFF;
	background-color: transparent!important;
}
.panel-mese2014 > .panel-heading {margin-top:0;}
.row {padding:0 10px;}
.chart-container {
	height:300px;
}
.mese2014-list-group {padding:0 15px;}
.mese2014-list-group > .list-group-item {
	color:#CCC;
	background-color:#111;
	border-top-style:dashed;
	border-bottom-style: dashed;
	border-left-color: transparent;
	border-right-color: transparent;
	border-radius:0;
}
.no-padding {
	padding-left: 0;
}
img.captcha {
	width:100%;
	cursor: pointer;
}
.blank {
	background-color: red;
}
#GOV_container,#MED_container > .list-group-item:first-child > a {color:red}

@media (min-width:768px){
#nav1{display:none;}
}
@media (max-width:767px){
#nav0{display:none;}
}
