$bgc: rgba(31, 35, 36, 1);
$gre: #209E85;
$fsize:16px;
$red: #DB4E02;
$marg:5px;
$text:#CCC;
$hyp:rgba(195, 150, 83, 1);
//global
body,html {
	background-color: $bgc;
	font: {
		size:$fsize;
	}
}
.no-padding {
	padding:0px;
}
a {
	color: rgba(155, 140, 103, 1);
	&:hover,&:focus {
		color: rgba(155, 140, 103, 1);
		text-decoration:underline;
	}
}
//form
.form-control {
	border:{
		width:0px;
		radius:1px;
	}
	line-height:1.5;
}
.btn-login {
	margin-top: 0px;
	width: 100%;
	background-color:$gre;
	border-radius:1px;
	color: #FFF;
	font-weight: 700;
	font-size:$fsize;
	&:hover,&:focus,&:active {
		color: #FFF;
	}
}
.input-group-addon {
	background-color:#FFF;
	border:{
		width:0px;
		radius:0px;
	}
	margin: {
		right:2px;
	}
	padding: {
		right:0px;
	}
}
input + .input-group-addon {
	padding-right:10px;
}
.alert-login {
	border:{
		color:#800;
		width:0.5px;
		style:solid;
		radius:2px;
	}
	text-align:center;
	padding: {
	  top:10px;
	  bottom:10px;
	}
}
//list
.list-wmbc > .list-group-item {
	background-color: darken($bgc, 5%);
	border:{
		top-width:1px;
		top-color: lighten($bgc,20%);
		left:none;
		right:none;
		bottom:none;
	} 
	color: $text;
}
.list-group-item:first-child {
	border:none;
}
//article
#article-title,#article-content {
	p {
		color:#FFF;
	}
	p {
		font-size:18px;
	}
	h1 {
		font-size:50px;
	}
}
#article-title .list-group-item {
	background-color:$bgc;
	border-radius:0px;
	border:{
		left:none;
		right:none;
	}
	color:lighten($hyp,5%);
	&:hover {
		background-color:lighten($bgc,5%);
	}
}

.list-group-item + .list-group-item {
	border-bottom:0px;
}
#article-title .active {
	background-color:$gre;
	color:darken(white,10%);
	border-color:$gre;
	&:hover {
		background-color:$gre;
	}
}
#article-content {
}
//breadcrumb
.breadcrumb {
	background-color:$bgc;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
}
//responsive
@media (max-width: 500px) {
	li.nav-item {
		width:100%
	}
	.nav-brand {
		display: none
	}
}
// animation
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}