<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div id="app" v-cloak>
            <style>
                div[v-cloak] img {
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                }
                html, body {
                    overflow: hidden;
                    background-color: #15191F!important;
                    margin: 0!important;
                }
            </style>
            <img src="/static/page-loading.gif" alt="">
        </div>
        <script src="/static/plupload.full.min.js"></script>
        <script src="/static/vendor.js"></script>
        <script src="/static/app.js"></script>
    </body>
</html>