body {
    font-family: Georgia, "Times New Roman", Times, serif;
    overflow-x: hidden;
    margin-top:50px;
}

button {
    &.navbar-toggler:focus {
        outline: none;
    }
}

#main-container {
    padding: 0.9375rem 0;
}

.list-group {
    li.list-group-item {
        word-wrap: break-word;

        .label {
            line-height: inherit;
        }
    }
}


.article-main {
    .article {
        margin-bottom: 4rem;
    }

    .article-title {
        margin-bottom: .25rem;
        font-size: 2.5rem;
        text-align: center;
        color:#ddd;
        padding-bottom:30px;
        padding-top:15px;
        border-bottom:1px solid #666;
    }

    .article-meta {
        margin-bottom: 1.25rem;
    }

    .article-content {
        margin-top: 1.2rem;
        color:#ccc;
        p {
            text-indent: 2em;
        }

        img {
            max-width: 100%;
            display: block;
            margin: .2rem auto;
        }
    }
}

.card {
    word-wrap: break-word;
}

// Utilities 

@each $breakpoint in map-keys($grid-breakpoints) {

    @include media-breakpoint-down($breakpoint) {


        .#{$breakpoint}-no-padding {
            padding: 0!important;
        }

        .#{$breakpoint}-small-padding {
            padding-left: 0.4rem;
            padding-right: 0.4rem;
        }
    }
}

// Custom

.jumbotron {
    background-color:lighten($bgc,5%);
    color:#eee;
}

.label-1 {
    background-color:$gre;
    color:#eee;
}
body,html {
    background-color:$bgc;
}
a {
    color: $hyp;
    &:hover,&:focus {
        color: $hyp;
        text-decoration:underline;
    }
}

.nav-link.active {
    background-color:$gre!important
}
.card {
    border:none;
    background-color:lighten($bgc,5%);
}
.card-header {
    background-color:lighten($bgc,10%);
    border-radius:0px!important;
    border-bottom:1px dashed darken(white,60%)
}
.card-footer {
    background-color:lighten($bgc,4%);
    border-top:1px dashed darken(white,70%)
}
.card-block {
    color:#eee;

}
.aside-header {
    background-color:lighten($bgc,5%)!important;
    border-bottom:none!important;
}
.ALGI {
    background-color:darken($bgc,3%);
    border-top:1px solid darken($bgc,7%);
    &:hover {
        background-color:darken($bgc,2%)!important;
    }
}
.ALGI:last-child {
    border-bottom:none;
}
.ALGB {
    padding-top:3px;
    padding-bottom:1px;
    padding-left:5px;
    padding-right:5px;
    background-color:$hyp!important;
    color:darken(white,2%);

}
.aside {
    background-color: inherit!important;
}
.aside-content {
    background-color:$bgc;
    min-height: 100%;
}
.aside-body {
    background-color:$bgc;
    border-top:1px solid darken($bgc,5%)!important;
    min-height: 100%;
}
ul.list-group {
    li {
        background-color:darken($bgc,5%);
        border:1px solid darken($bgc,2%);
        color: #eee!important;
    }
    li:hover{
        background-color:darken($bgc,3%)!important;
    }
}