body {
    font-family: Georgia, "Times New Roman", Times, serif;
    overflow-x: hidden;
    margin-top:50px;
    color: #ccc;
}

footer {
    text-align: center;
    color: darken(#eee, 10%);
    padding: .5rem 0;
}

button {
    &.navbar-toggler:focus {
        outline: none;
    }
}

#main-container {
    padding: 0.9375rem 0;
}

.list-group {
    li.list-group-item {
        word-wrap: break-word;

        .label {
            line-height: inherit;
        }
    }
}

dd:empty:after {
    display: block;
    content: '（空）';
}


.article-main {
    .article {
        margin-bottom: 4rem;
    }

    .article-title {
        margin-bottom: .25rem;
        font-size: 2.5rem;
        text-align: center;
        color:#ddd;
        padding-bottom:30px;
        padding-top:15px;
    }

    .article-meta {
        margin-bottom: 1.25rem;
    }

    .article-content {
        margin-top: 1.2rem;
        color:#ccc;
        p {
            text-indent: 2em;
        }

        table {
            width: 100%!important;
            max-width: 100%;
            overflow-x: auto;

            td, tr {
                border-collapse: inherit;
            }
        }

        img {
            max-width: 100%;
            display: block;
            margin: .2rem auto;
        }
    }
}

.card {
    word-wrap: break-word;

    .list-loader-wrapper{
        padding: .75rem 0;
    }
}

@include media-breakpoint-down('xs') {
    .navbar-brand {
        position: absolute;
    }    
}

// Fucking index

#index-jumbotron {
    text-align: center;
    word-wrap: break-word;

    padding-top: 2rem;
    padding-bottom: 2rem;

    h3 {
        margin-top: 2rem;
    }
}

#index-logo {
    width: 150px;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

@include media-breakpoint-up('md') {
    #index-container {
        .card {
            transition: transform 1s;

            &:hover {
                //transform: scale(1.1, 1.1);
            }
        }
    }
}

#index-container {
    .card {
        transition: background-color .5s;
        
        a.title {
            display: block;
            &:hover, &:focus {
                text-decoration: none!important;                
            }
        }

        .content {
            height: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;
            height: 100%;

            li.read-more {
                flex: 1;
                display: flex;

                a {
                    flex: 1;

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .card-title {
            transition: opacity .5s;
            writing-mode: vertical-rl;
            height: 240px;
            margin: 0 auto;
            text-decoration: none!important;
        }

        .content {
            position: absolute;
            z-index: 500;
            left: 0;
            top: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: visibility .1s .1s, opacity .5s;

            .list-loader-wrapper {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up('md') {
    #index-container {
        .card {
            &:hover {
                background-color: #131616;

                .card-title {
                    opacity: 0.02;    
                }

                .content {
                    visibility: visible;
                    opacity: .95;
                }
            }
        }
    }
}

// Utilities 

@each $breakpoint in map-keys($grid-breakpoints) {

    @include media-breakpoint-down($breakpoint) {


        .#{$breakpoint}-no-padding {
            padding: 0!important;
        }

        .#{$breakpoint}-small-padding {
            padding-left: 0.4rem;
            padding-right: 0.4rem;
        }
    }
}

// Custom

.jumbotron {
    background-color:lighten($bgc,5%);
    color:#eee;
}

.label-1 {
    background-color:$gre;
    color:#eee;
}

body,html {
    background-color:$bgc;
    height: 100%;
}

a {
    color: $hyp;
    &:hover,&:focus {
        color: $hyp;
        text-decoration:underline;
    }
}

.nav-link.active {
    background-color:$gre!important
}

.card {
    border:none;
    background-color:lighten($bgc,5%);
}

.card-header {
    background-color:lighten($bgc,10%);
    border-radius:0px!important;
    border-bottom:1px dashed darken(white,60%)
}

.card-footer {
    background-color:lighten($bgc,4%);
    border-top:1px dashed darken(white,70%)
}

.card-block {
    color:#eee;

}

.aside-header {
    background-color:lighten($bgc,5%)!important;
    border-bottom:none!important;
    
    h4 {
        margin: .3rem 0;
    }

    button.close {
        line-height: 1.1;
    }
}

.ALGI {
    background-color:darken($bgc,3%);
    border-top:1px solid darken($bgc,7%);
    &:hover {
        background-color:darken($bgc,2%)!important;
    }
}

.ALGI:last-child {
    border-bottom:none;
}

.ALGB {
    padding-top:3px;
    padding-bottom:1px;
    padding-left:5px;
    padding-right:5px;
    background-color:$hyp!important;
    color:darken(white,2%);
}

.aside {
    background-color: inherit!important;
}

.aside-content {
    background-color:$bgc;
    min-height: 100%;
}

.aside-body {
    background-color:$bgc;
    border-top:1px solid darken($bgc,5%)!important;
    min-height: 100%;
}

ul.list-group {
    li {
        background-color:darken($bgc,5%);
        border:1px solid darken($bgc,2%);
        color: #eee!important;
    }
    li:hover {
        background-color:darken($bgc,3%)!important;
    }
}

label {
    color: #eee!important;
}

.pager {
    li > a {
        background-color: inherit;
    }
}